<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Notes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div> -->

  <ion-card style="margin-bottom: 20px">
    <ion-card-header style="margin-bottom: 20px">
      <ion-card-subtitle> Tambah Notes: </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle> Judul Notes: </ion-card-subtitle>
      <ion-input [(ngModel)]="Judul"></ion-input>
      <ion-card-subtitle> Isi Notes: </ion-card-subtitle>
      <ion-input [(ngModel)]="Isi"></ion-input>
      <ion-card-subtitle>Tanggal Notes:</ion-card-subtitle>
      <ion-datetime
        class="ion-no-padding date-pick"
        placeholder="Pilih Tanggal"
        [(ngModel)]="Tanggal"
      ></ion-datetime>
      <ion-button expand="block" (click)="save()">SAVE</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-item lines="none" class="ion-no-padding list-title">
    <ion-label>List notes</ion-label>
  </ion-item>

  <div class="ion-no-padding">
    <ion-list style="padding-bottom: 20px">
      <ion-card class="list-card" *ngFor="let item of isiData | async">
        <ion-card-header>
          <ion-card-subtitle>{{item.judul}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-label>{{item.tanggal | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
